In [24]:
import pandas as pd
import numpy as np
import os

In [25]:
df = pd.DataFrame({'Fruit':['apples','oranges','pears','avocados'],'Price':[0.50, 1.12,0.85,1.90], 'Weight': [3.2, 5.6, 2.2, 3.1] })
df

      Fruit  Price  Weight
0    apples   0.50     3.2
1   oranges   1.12     5.6
2     pears   0.85     2.2
3  avocados   1.90     3.1

In [26]:
df.to_html('df.html',border=0)

In [51]:
for i in range(df.shape[0]):
    for j in range(df.shape[1]): 
        print (i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2

In [52]:
#Creating the HTML Table

def create_html_table(x):
    
    row_data = ''

    for i in range(x.shape[0]):

        for j in range(x.shape[1]):        
            if ((i % 2) != 0) & (j == 0): #not an even row and the start of a new row
                row_data += '\n<tr style="background-color:#f2f2f2"> \n <td class = "text_column">'+str(x.iloc[i,j])+'</td>'

            elif j == 0: #The first column
                row_data += '\n<tr> \n <td class = "text_column">'+str(x.iloc[i,j])+'</td>'
            
            elif j == 1: #second column
                row_data += '\n <td class = "number_column">'+str(x.iloc[i,j])+'</td>'
            
            elif j == 2: #third column and our last column in my example
                row_data += ' <td class = "number_column">'+str(x.iloc[i,j])+'</td> \n </tr>'

            else:
                row_data += '\n <td class = "number_column">'+str(x.iloc[i,j])+'</td>'
                
    return row_data

In [57]:
df.shape

(4, 3)

In [54]:
html_table = create_html_table(df)

In [58]:
html_file = '''

<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 30%;
}

th, td {
  padding: 6px;
  font-family: Helvetica, Arial, Helvetica;
  font-size: 12px;
}


.header {
  color: white;
  background-color: black;
  border-bottom:1pt solid black;
}

.text_column {
  text-align: left;
}

.number_column {
  text-align: right;
}

.even_row {
  background-color: #f2f2f2;
}

</style>
</head>

<body>
  <h1>HTML Table From a Pandas DataFrame!</h1>

<div style="overflow-x:auto;">

<table>
  <thead>
    <tr class = "header">
      <th class = "text_column">'''+df.columns[0]+'''</th>
      <th class = "number_column">'''+df.columns[1]+'''</th>
      <th class = "number_column">'''+df.columns[2]+'''</th>
    </tr>
  </thead>
  <tbody>
''' +html_table+ '''
  </tbody>
  </table>

</div>

</div>
</body>
</html>

'''

In [59]:
os.remove('df_from_loop.html')
with open('df_from_loop.html', 'a') as f:
    f.write(html_file)

# Send the HTML Table as an embedded Email

In [41]:
import os
import smtplib
import imghdr
from email.message import EmailMessage

email = os.environ.get('email_address')
password = os.environ.get('gmail_python_app_password')


#report_file = open("/Users/pauldesalvo/Documents/Kipsu/Company Stats/Company Stats.html")
# report_file = open("/Users/pauldesalvo/Documents/Kipsu/Company Stats/table_gmail.html")
# html_file = report_file.read()

from email.mime.multipart import MIMEMultipart #pip install email-to
from email.mime.text import MIMEText
from email.mime.image import MIMEImage
from email.mime.application import MIMEApplication


contacts = ['pauldesalvo@gmail.com']

msg = EmailMessage()
msg['Subject'] = 'Cool Table'
msg['From'] = email
msg['To'] = (", ").join(contacts)

msg.set_content('Cool Table')

text_part = msg.iter_parts()
text_part
msg.add_alternative(html_file, subtype='html')

with smtplib.SMTP_SSL('smtp.gmail.com', 465) as smtp:
    smtp.login(email, password)
    smtp.send_message(msg)