# Random DataFrame

In [1]:
import pandas as pd

df = pd.util.testing.makeDataFrame()

/Users/pauldesalvo/opt/anaconda3/lib/python3.7/site-packages/pandas/util/__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

# Flattening a MultiIndex Column

In [3]:
import numpy as np

In [57]:
df = pd.DataFrame(np.random.randint(3,size=(4, 3)), index = ['apples','apples','oranges','oranges'], columns=['A','B','C'])
df

         A  B  C
apples   0  2  1
apples   0  2  0
oranges  0  1  2
oranges  1  0  2

In [59]:
df_grouped = df.groupby(df.index).agg({'A':['sum','mean'],'B':'sum','C':'sum'})
df_grouped

          A        B   C
        sum mean sum sum
apples    0  0.0   4   1
oranges   1  0.5   1   4

In [60]:
df_grouped.columns

MultiIndex([('A',  'sum'),
            ('A', 'mean'),
            ('B',  'sum'),
            ('C',  'sum')],
           )

In [56]:
df_grouped.columns = [i if j == '' else '_'.join((i,j)) for i,j in df_grouped.columns.values]
df_grouped

         A_sum  A_mean  B_sum  C_sum
apples       2     1.0      2      1
oranges      1     0.5      3      3