<a href="https://colab.research.google.com/github/prdesalvo/jupyter_notebooks/blob/master/Python%20Tricks/python_tricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Random DataFrame

In [1]:
import pandas as pd

In [2]:
df = pd.util.testing.makeDataFrame()

/usr/local/lib/python3.6/dist-packages/pandas/util/__init__.py:23: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

# Flattening a MultiIndex Column

In [3]:
import numpy as np

In [4]:
df = pd.DataFrame(np.random.randint(3,size=(4, 3)), index = ['apples','apples','oranges','oranges'], columns=['A','B','C'])
df

         A  B  C
apples   0  0  2
apples   0  0  2
oranges  1  0  0
oranges  1  0  0

In [5]:
df_grouped = df.groupby(df.index).agg({'A':['sum','mean'],'B':'sum','C':'sum'})
df_grouped

          A        B   C
        sum mean sum sum
apples    0    0   0   4
oranges   2    1   0   0

In [6]:
df_grouped.columns

MultiIndex([('A',  'sum'),
            ('A', 'mean'),
            ('B',  'sum'),
            ('C',  'sum')],
           )

In [7]:
df_grouped.columns = [i if j == '' else '_'.join((i,j)) for i,j in df_grouped.columns.values]
df_grouped

         A_sum  A_mean  B_sum  C_sum
apples       0       0      0      4
oranges      2       1      0      0

# Dates

In [8]:
import pandas as pd
import datetime as dt

In [9]:
pd.date_range(start='1/1/2020', end='1/31/2020')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range(start='1/1/2020', end='12/31/2020', freq = 'M')

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

In [11]:
pd.date_range(start='1/1/2020', end='12/31/2020', freq = 'Q')

DatetimeIndex(['2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31'], dtype='datetime64[ns]', freq='Q-DEC')

In [12]:
pd.date_range(start='1/1/2020', end='12/31/2020', freq = 'W-MON')

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [13]:
pd.date_range(start='1/1/2020', end=dt.datetime.now(), freq = 'W-MON')

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')

# Null Values in a DataFrame Function

In [14]:
df = pd.DataFrame({'A':[1,2,None,None]})
df

     A
0  1.0
1  2.0
2  NaN
3  NaN

In [16]:
def some_function(x):
  
    if pd.notnull(x['A']):
        return 'this value is not null'
  
    elif pd.isnull(x['A']):
        return 'this value is null'
  
    else:
        pass

In [17]:
df.apply(some_function,axis=1)

0    this value is not null
1    this value is not null
2        this value is null
3        this value is null
dtype: object

In [19]:
import datetime as dt
dt.datetime.now()

datetime.datetime(2020, 12, 29, 15, 12, 31, 282760)