In [22]:
import pandas as pd
import numpy as np
import os

In [39]:
df = pd.DataFrame(np.random.randint(3,size=(4, 3)), index = ['apples','apples','oranges','oranges'], columns=['A','B','C']).reset_index()
df

     index  A  B  C
0   apples  1  0  0
1   apples  2  0  2
2  oranges  2  1  1
3  oranges  0  1  1

In [40]:
df.to_html('df.html',border=0)

In [41]:
for i in range(df.shape[0]):
    for j in range(df.shape[1]): 
        print (i,j+1)

0 1
0 2
0 3
0 4
1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4

In [42]:
#Creating the HTML Table

def create_html_table(x):
    
    row_data = ''

    for i in range(x.shape[0]):

        for j in range(x.shape[1]):        
            if ((i % 2) != 0) & (j == 0):
                row_data += '\n<tr style="background-color:#f2f2f2"> \n <td class = "text_column">'+str(x.iloc[i,j])+'</td>'

            elif j == 0:
                row_data += '\n<tr> \n <td class = "text_column">'+str(x.iloc[i,j])+'</td>'

            elif j == x.shape[1]: #zero index won't match the shape
                row_data += ' <td class = "number_column">'+str(x.iloc[i,j])+'</td> \n </tr>'

            else:
                row_data += '\n <td class = "number_column">'+str(x.iloc[i,j])+'</td>'
                
    return row_data

In [43]:
html_table = create_html_table(df)

In [46]:
html_file = '''

<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 6px;
  font-family: Helvetica, Arial, Helvetica;
  font-size: 12px;
}


.header {
  color: black;
  border-bottom:1pt solid black;
}

.text_column {
  text-align: left;
}

.number_column {
  text-align: right;
}

.even_row {
  background-color: #f2f2f2;
}

</style>
</head>

<body>
  <h1>Cool Table</h1>

<div style="overflow-x:auto;">

<table>
  <thead>
    <tr class = "header">
      <th class = "text_column">Fruit</th>
      <th class = "number_column">Column 1</th>
      <th class = "number_column">Column 2</th>
      <th class = "number_column">Column 3</th>
    </tr>
  </thead>
  <tbody>
''' +html_table+ '''
  </tbody>
  </table>

</div>

</div>
</body>
</html>

'''

In [47]:
os.remove('df_from_loop.html')
with open('df_from_loop.html', 'a') as f:
    f.write(html_file)