# Analyzing your GoodReads data in Python

In [1]:
import requests
from bs4 import BeautifulSoup

#for charting and analysis, we will use these libraries
import datetime
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import os

In order to analyze your own goodreads data, you'll need to get your API key

In [16]:
import pyperclip
pyperclip.copy(url)

In [15]:
key = os.environ.get('goodreads_key')
secret = os.environ.get('goodreads_secret')
shelf = 'read'

url = 'https://www.goodreads.com/review/list/50215491.xml?key='+key+'&v=2&shelf=read&per_page=200&page=1'

In [3]:
source = requests.get(url).text
soup = BeautifulSoup(source, 'lxml')

In [4]:
all_books = soup.find_all("title")

books = []
for i in all_books[1:]:
    string = i.get_text()
    a = string.split(",")
    books.append(a)

#print(books)

In [5]:
all_isbns = soup.find_all(["isbn13","isbn"])

isbn = []
for i in all_isbns[1:]:
    string = i.get_text()
    a = string.split(",")
    isbn.append(a)

#print(isbn)

In [6]:
pages = soup.find_all(["num_pages"])

number_of_pages = []
for i in pages[1:]:
    string = i.get_text()
    a = string.split(",")
    number_of_pages.append(a)

#print(number_of_pages)

In [7]:
ids = soup.find_all(["id"])

id_number = []
for i in ids[1:]:
    string = i.get_text()
    a = string.split(",")
    id_number.append(a)

#print(id_number)

In [8]:
dates_updated = soup.find_all(["read_at"])

read_at = []
for i in dates_updated[1:]:
    string = i.get_text()
    a = string.split(",")
    read_at.append(a)

#print(date_updated)

In [9]:
#book_lookup_url = "https://www.goodreads.com/search/index.xml?key="+key+"&q="+"Why+We+Sleep"

In [10]:
#print(book_lookup_url)

In [11]:
data = list(zip(books,isbn,number_of_pages,id_number,read_at))

In [12]:
df = pd.DataFrame(data, columns=['Book Name','ISBN Number','Number of Pages','ID Number', 'Finished Date'])

In [13]:
df

Empty DataFrame
Columns: [Book Name, ISBN Number, Number of Pages, ID Number, Finished Date]
Index: []

In [14]:
print(df.dtypes)

Book Name          object
ISBN Number        object
Number of Pages    object
ID Number          object
Finished Date      object
dtype: object

In [15]:
df['Book Name'] = df['Book Name'].str[0]
df['ISBN Number'] = df['ISBN Number'].str[0]
df['Number of Pages'] = df['Number of Pages'].str[0]
df['ID Number'] = df['ID Number'].str[0]
df['Finished Date'] = df['Finished Date'].str[0]

In [16]:
df['Number of Pages'] = pd.to_numeric(df['Number of Pages'])

In [30]:
df = df[df["Finished Date"] != '']

In [36]:
df

,Book Name,ISBN Number,Number of Pages,ID Number,Finished Date,new date
0,Why We Sleep: Unlocking the Power of Sleep and...,,368.0,53498439,Thu Apr 16 00:00:00 -0700 2020,2020-04-16 00:00:00-07:00
1,Invisible Man,,224.0,3051490,Sun Jun 28 10:06:37 -0700 2020,2020-06-28 10:06:37-07:00
2,How to Be an Antiracist,,NaN,6996712,Wed Jul 01 05:43:52 -0700 2020,2020-07-01 05:43:52-07:00
3,White Fragility: Why Itâ€™s So Hard for White Pe...,1568585284,192.0,3396927448,Thu Jun 11 00:00:00 -0700 2020,2020-06-11 00:00:00-07:00
4,Lean In: Women,9781568585284,217.0,34466963,Sun Jun 14 16:49:18 -0700 2020,2020-06-14 16:49:18-07:00
...,...,...,...,...,...,...
96,Shoe Dog,,402.0,45692160,Thu Jan 09 06:09:31 -0800 2020,2020-01-09 06:09:31-08:00
98,Good to Great: Why Some Companies Make the Lea...,9780812995848,324.0,70454735,Wed Feb 07 20:00:13 -0800 2018,2018-02-07 20:00:13-08:00
99,Nonviolent Communication: A Language of Life: ...,0439023483,NaN,3211330912,Tue Dec 05 20:08:26 -0800 2017,2017-12-05 20:08:26-08:00
100,The ONE Thing: The Surprisingly Simple Truth B...,9780439023481,NaN,7260188,Sun Jan 29 00:00:00 -0800 2017,2017-01-29 00:00:00-08:00
101,Steve Jobs,,656.0,153394,Sat Aug 25 13:14:40 -0700 2018,2018-08-25 13:14:40-07:00

In [18]:
#converting date column to a date
#df['Date Updated'] = pd.to_datetime(df['Date Updated'], format = '%a %b %d %H:%M:%S %z %Y')
#df['new date'] = df['Date Updated'].dt.strftime('%a %b %d %H:%M:%S %z %Y')

In [19]:
df.dtypes

Book Name           object
ISBN Number         object
Number of Pages    float64
ID Number           object
Finished Date       object
dtype: object

In [37]:
from datetime import datetime
df['new date']= df['Finished Date'].apply(lambda x: datetime.strptime(x,'%a %b %d %H:%M:%S %z %Y'))
#df['new date'] = df['new date'].datetime.normalize()

df['year']= df['new date'].apply(lambda x: x.year)
df['month']= df['new date'].apply(lambda x: x.month)

/Users/pauldesalvo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/pauldesalvo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
df.dtypes

Book Name           object
ISBN Number         object
Number of Pages    float64
ID Number           object
Finished Date       object
new date            object
year                 int64
month                int64
dtype: object

In [43]:
grouped_df = df.groupby(['Year'].count())

TypeError: count() takes exactly one argument (0 given)

In [21]:
grouped_df = grouped_df.reset_index()

NameError: name 'grouped_df' is not defined

In [ ]:
grouped_df

In [ ]:
sns.set()  # use Seaborn styles
sns.set_style("whitegrid")
sns.set_context("poster", font_scale = 1)
f, ax = plt.subplots(figsize=(20,9))

sns.barplot(data = grouped_df, x = 'Month Year', y='Book Name')

In [ ]:
import calendar
df['days_in_month'] = df.apply(lambda x: calendar.monthrange(x['year'],x['month'])[1],axis=1)
df['Month Year'] = pd.to_datetime(dict(year=df.year, month=df.month, day=df.days_in_month))

In [ ]:
df

# Missing Data

In [ ]:
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]

In [ ]:
rows_with_NaN.to_csv('books_with_no_page_numbers.csv')

# Using the RSS Feed

In [ ]:
import feedparser
import pandas as pd

rawrss = ['https://www.goodreads.com/review/list_rss/50215491?key=Z9tus9vPUk2armpmpWSrLTLXeVEPvWcY0lzNJGZ8MrRypwfj&shelf=%23ALL%23']

feeds = [] # list of feed objects
for url in rawrss:
    feeds.append(feedparser.parse(url))

posts = [] # list of posts [(title1, link1, summary1), (title2, link2, summary2) ... ]
for feed in feeds:
    for post in feed.entries:
        posts.append((post.title, post.link, post.summary))

rss_df = pd.DataFrame(posts, columns=['title', 'link', 'summary'])

In [ ]:
rss_df['summary'][0]

In [ ]:
#test = rss_df.summary.str.split('<br/>\n',expand=True)
rss_df[['Link','Author','Name','Average Rating','book published','rating','read_at','date_added','shelves','review']] = rss_df.summary.str.split('<br/>\n',expand=True)

In [ ]:
rss_df

In [ ]:
rss_df["read_at"]= rss_df["read_at"].replace("read at:", "", regex = True).str.lstrip().str.rstrip()

In [ ]:
rss_df.dtypes

In [ ]:
print(rss_df['read_at'][0])

In [ ]:
rss_df